{% extends 'base.html' %}
{% load humanize %}
{% load static %}
<!-- Estructura basica para diseño -->

{% block 'main' %}
<div class="right_col" role="main">
	<div class="row">
		<div class="row top_tiles">
			<div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<div class="tile-stats">
					<div class="icon"><i class="fa fa-user"></i></div>
					<div class="count">{{ principalNumber }}</div>
					<h3> Principal Department.</h3>
					<p>Number of orders by principal department.</p>
				</div>
			</div>
			<div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<div class="tile-stats">
					<div class="icon"><i class="fa fa-check-circle-o"></i></div>
					<div class="count">{{ administrationNumber }}</div>
					<h3>Administration Department.</h3>
					<p>Number of orders by administration department.</p>
				</div>
			</div>
			<div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<div class="tile-stats">
					<div class="icon"><i class="fa fa-eye-slash"></i></div>
					<div class="count">{{ linkingNumber }}</div>
					<h3>Linking Department.</h3>
					<p>Number of orders by linking department.</p>
				</div>
			</div>
			<div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<div class="tile-stats">
					<div class="icon"><i class="fa fa-eye-slash"></i></div>
					<div class="count">{{ planningNumber }}</div>
					<h3>Planning Department.</h3>
					<p>Number of orders by planning department.</p>
				</div>
			</div>
			<div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<div class="tile-stats">
					<div class="icon"><i class="fa fa-spinner"></i></div>
					<div class="count">{{ academicanNumber }}</div>
					<h3>Academican Department.</h3>
					<p>Number of orders by academican department.</p>
				</div>
			</div>
			<div class="animated flipInY col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<div class="tile-stats">
					<div class="icon"><i class="fa fa-refresh"></i></div>
					<div class="count">
						<a type="button" href="{% url 'ordermanager:department_dashboard' %}" class="btn btn-info">Refresh</a>
					</div>
					<h3>Reset the graphic.</h3>
					<p>Refresh the page to get the initial data.</p>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Dashboard</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li><a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form class="form" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="date" name="date" required="True">
						<input type="date" name="dateTwo" required="True">
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
				<div class="x_content">
					<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
				</div>
			</div>
		</div>		
	</div>
</div>
{% endblock %}     
{% block 'script' %}
<script>
	window.onload = function() {

		var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Request by department."
	},
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y}%",
		dataPoints: [
		{ y: {{ principal }}, label: "Principal" },
		{ y: {{ administration }}, label: "Administration and Finance" },
		{ y: {{ linking }}, label: "Linking" },
		{ y: {{ planning }}, label: "Planning and evaluation" },
		{ y: {{ academican }}, label: "Academican" },
		]
	}]
});
		chart.render();

	}
</script>
{% endblock %} 