{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block 'main' %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><strong>You are about to cancel the Maintenance.</strong></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content bs-example-popovers">
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span>
                            </button>
                            <strong>are you sure,</strong> do you want to cancel the Maintenance?
                        </div>
                        <form action="{% url 'ordermanager:orderCancel' principal_request.pk %}" method="post"
                              class="form-horizontal form-label-left">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Observations:<span
                                        class="required"></span>
                                </label>

                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <textarea name="observations" class="form-control" rows="4"
                                              placeholder='why are you cancel the order?' required></textarea>
                                </div>
                            </div>
                            <a type="button" class="btn btn-danger"
                               href="{% url 'ordermanager:orderSupport' principal_request.pk %}">No, I'm not sure.</a>


                            <button type="submit" class="btn btn-primary">Yes, I'm sure.</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}