{% extends 'base.html' %}

{% block 'main' %}

<section class="generic-banner relative">	
	<div class="container">
		<div class="row height align-items-center justify-content-center">
			<div class="col-lg-10">
				<div class="generic-banner-content">
					<h2 class="text-white">UT Technical support!</h2>
					<p class="text-white">With this tool you can generate a new order and technical support deparment it's going to give a solition.</p>
				</div>							
			</div>
		</div>
	</div>
</section>		
		
{% endblock %}