    body 
    {
      background-color: #e3eaf7; 
    }

    .iconoTelefono 
    {
      font-size: 300%;
    }
   
    .iconoEmail 
    {
      font-size: 300%;
      margin: 4px;
    }

    .iconoEmail 
    {
      font-size: 300%;
      margin: 4px;
    }

    .main {
      background:#white;
    }

    .color1 {
      background: #white;
      color:#black;
    }

    aside {
      background:#white;
      color:#black;
    }

    footer {
      background:#white;
      color:#black;
    }

    .oftitulo{
      font-weight: 600;
      font-size: 14px;
      color:black;
    }


    .ofinformacion{
      font-size: 14px;
      color:gray;
    }

    .account-profile-data tr > td {
      min-width: 70px;
      padding: 0 5px 5px 0;
    }
    table.account-profile-data td {
      padding:5px;
    }